.app {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.app__header {
  background-color: rgb(var(--primary));
  color: rgb(var(--on-primary));
  padding: var(--spacing-large) 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  position: relative;
}

.app__footer {
  background-color: rgb(var(--primary-variant));
  color: rgb(var(--on-secondary));
  padding: var(--spacing-medium) 0;
}

@media screen and (min-width: 1088px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}
