.fstate__rect {
  fill: rgb(var(--surface));
  rx: 6;
  ry: 6;
  stroke: rgb(var(--primary-variant));
  stroke-width: 2px;
}

.fstate__text {
  height: 100%;
  text-align: center;
}

.fstate__input {
  appearance: none;
  background-color: #fff;
  border: none;
  box-shadow: none;
  color: inherit;
  height: 100%;
  max-width: 100%;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
