.border {
  fill: none;
  pointer-events: stroke;
  rx: 6;
  ry: 6;
  stroke: transparent;
  stroke-width: 4px;
  transition: all var(--animation-duration-simple) var(--easing-standard);
}

.border:hover {
  stroke: rgb(var(--secondary));
}
