.ftransition {
  marker-end: url(#marker-arrow);
  stroke: rgb(var(--secondary));
  stroke-width: 2px;
}

.ftransition--drawing {
  pointer-events: none;
}

#marker-arrow path {
  fill: rgb(var(--secondary-variant));
}
