.canvas {
  user-select: none; /* Disable text selection when dragging */
}

/* @TODO: think a better way without using children component classNames */
.canvas.is-deleting .fstate,
.canvas.is-deleting .ftransition {
  cursor: pointer;
}

.toolbar {
  background-color: rgb(var(--primary));
  padding-bottom: var(--spacing-medium);
  text-align: center;
}

.toolbar__btn {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 0.75em;
  padding-right: 0.75em;
  padding-top: calc(0.375em - 1px);
  text-align: center;
  white-space: nowrap;
}

.toolbar__btn:not(:last-child) {
  margin-right: var(--spacing-medium);
}

#marker-arrow path {
  fill: rgb(var(--primary-variant));
}
